 /* About Me Styles */

 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

 .tab1 {
     margin-left: 60px;
 }

 .tab2 {
    margin-left: 105px;
}

.tab3 {
    margin-left: 70px;
}

.tab4 {
    margin-left: 33px;
}

.tab5 {
    margin-left: 13px;
}

.tab6 {
    margin-left: 30px;
}

.tab7 {
    margin-left: 14px;
}

section {
    padding-top: 100px;
    padding-bottom: 50px;
}

h2 {
    margin-bottom: 30px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #e2caca;
    border-bottom: 3px solid #7e3494;
}

#img-container {
    margin: 20px;
    padding: 30px;
    width: 330px;
    height: 430px;
    background-color: rgb(17, 17, 17);
    box-shadow: 0 5px 18px rgb(24, 23, 23), 0 5px 18px rgb(24, 23, 23);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    border-radius: 10px;
    margin-top: 3px;
}



#img-container:hover {
    background-color: rgb(17, 17, 17);
    box-shadow: 0 5px 18px rgb(24, 23, 23), 0 2px 18px rgb(115, 199, 195);
    transition: 0.3s;
}

.about-description {
    margin: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: whitesmoke;
    padding: 50px;
    background-color: rgb(17, 17, 17);
    box-shadow: 0 5px 18px rgb(24, 23, 23), 0 5px 18px rgb(24, 23, 23);
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.about-description:hover {
    background-color: rgb(17, 17, 17);
    box-shadow: 0 5px 18px rgb(24, 23, 23), 0 2px 18px rgb(115, 199, 195);
    transition: 0.3s;
}

.about-self {
    margin: 20px;
    margin-left: 30px;
    padding: 30px;
    color: rgb(153, 148, 148);
    background-color: rgb(17, 17, 17);
    box-shadow: 0 5px 18px rgb(24, 23, 23), 0 5px 18px rgb(24, 23, 23);
    border-radius: 30px;
}

b {
    color: rgb(226, 222, 145);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

i {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    color: #ffffff;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background: #232729;
    margin-right:10px;
    margin-left:10px;
    margin-top:10px;
}

.about-self:hover {
    background-color: rgb(17, 17, 17);
    box-shadow: 0 5px 18px rgb(24, 23, 23), 0 2px 18px rgb(115, 199, 195);
    transition: 0.3s;
}

i:hover {
    background-color: rgb(44, 30, 44);
}

