<section id="competencies" class="services">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h2 class="competencies-title">COMPETENCIES</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="flip-left">
                <div class="row">
                    <h4 class="skills">PROFESSIONAL SKILLS</h4>
                </div>
                
                <div class="prof-skills">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="p-skills">
                                <circle-progress
                                    [percent]="78"
                                    [radius]="30"
                                    [outerStrokeWidth]="5"
                                    [innerStrokeWidth]="1"
                                    [outerStrokeColor]="'#4882c2'"
                                    [outerStrokeGradientStopColor]="'#7a077a'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="true"
                                    [animationDuration]="1000"
                                ></circle-progress> <br>
                                <p>Teamwork</p>
                            </div>
                        </div>
    
                        <div class="col-lg-4">
                            <div class="p-skills">
                                <circle-progress
                                    [percent]="80"
                                    [radius]="30"
                                    [outerStrokeWidth]="5"
                                    [innerStrokeWidth]="1"
                                    [outerStrokeColor]="'#4882c2'"
                                    [outerStrokeGradientStopColor]="'#7a077a'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="true"
                                    [animationDuration]="1000"
                                ></circle-progress> <br>
                                <p>Problem Solving</p>
                            </div>
                        </div>
    
                        <div class="col-lg-4">
                            <div class="p-skills">
                                <circle-progress
                                    [percent]="85"
                                    [radius]="30"
                                    [outerStrokeWidth]="5"
                                    [innerStrokeWidth]="1"
                                    [outerStrokeColor]="'#4882c2'"
                                    [outerStrokeGradientStopColor]="'#7a077a'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="true"
                                    [animationDuration]="1000"
                                ></circle-progress> <br>
                                <p>Critical Thinking</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="p-skills">
                                <circle-progress
                                    [percent]="68"
                                    [radius]="30"
                                    [outerStrokeWidth]="5"
                                    [innerStrokeWidth]="1"
                                    [outerStrokeColor]="'#4882c2'"
                                    [outerStrokeGradientStopColor]="'#7a077a'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="true"
                                    [animationDuration]="1000"
                                ></circle-progress> <br>
                                <p>Creativity</p>
                            </div>
                        </div>
                        
                        <div class="col-lg-4">
                            <div class="p-skills">
                                <circle-progress
                                    [percent]="78"
                                    [radius]="30"
                                    [outerStrokeWidth]="5"
                                    [innerStrokeWidth]="1"
                                    [outerStrokeColor]="'#4882c2'"
                                    [outerStrokeGradientStopColor]="'#7a077a'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="true"
                                    [animationDuration]="1000"
                                ></circle-progress> <br>
                                <p>Adaptability</p>
                            </div>
                        </div>
    
                        <div class="col-lg-4">
                            <div class="p-skills">
                                <circle-progress
                                    [percent]="88"
                                    [radius]="30"
                                    [outerStrokeWidth]="5"
                                    [innerStrokeWidth]="1"
                                    [outerStrokeColor]="'#4882c2'"
                                    [outerStrokeGradientStopColor]="'#7a077a'"
                                    [innerStrokeColor]="'#C7E596'"
                                    [animation]="true"
                                    [animationDuration]="1000"
                                ></circle-progress> <br>
                                <p>Work Ethic</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8" data-aos="flip-right">
                <div class="row">
                    <h4 class="skills">TECHNICAL SKILLS</h4>
                </div>

                <div class="tech-skills">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="t-skills">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <strong>C</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <p>Intermediate</p>
                                            </div>
                                        </div>                                
                                    </div>                                    
                                    <span class="bar"><span class="c"></span></span>                                    
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="t-skills">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <strong>C++</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <p>Intermediate</p>
                                            </div>
                                        </div>                                
                                    </div>                                    
                                    <span class="bar"><span class="cpp"></span></span>                                    
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="t-skills">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <strong>Python</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <p>Novice</p>
                                            </div>
                                        </div>                                
                                    </div>                                    
                                    <span class="bar"><span class="python"></span></span>                                    
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="t-skills">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <strong>MySQL</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <p>Novice</p>
                                            </div>
                                        </div>                                
                                    </div>                                    
                                    <span class="bar"><span class="mysql"></span></span>                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="t-skills">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <strong>HTML & CSS</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <p>Intermediate</p>
                                            </div>
                                        </div>                                
                                    </div>                                    
                                    <span class="bar"><span class="html-css"></span></span>                                    
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="t-skills">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <strong>PHP</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <p>Intermediate</p>
                                            </div>
                                        </div>                                
                                    </div>                                    
                                    <span class="bar"><span class="php"></span></span>                                    
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="t-skills">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <strong>Angular</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <p>Novice</p>
                                            </div>
                                        </div>                                
                                    </div>                                    
                                    <span class="bar"><span class="angular"></span></span>                                    
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="t-skills">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <strong>JavaScript</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="t-name">
                                                <p>Novice</p>
                                            </div>
                                        </div>                                
                                    </div>                                    
                                    <span class="bar"><span class="javascript"></span></span>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <div class="accomplishments">
                    <div class="my-accomplishments">
                        <i class="far fa-lightbulb fa-4x"></i>
                        <h5>{{project_count}}</h5>
                        <p>Projects Completed</p>
                    </div>
                </div> 
            </div> 

            <div class="col-lg-4" data-aos="fade-up">
                <div class="accomplishments">
                    <div class="my-accomplishments">
                        <i class="fas fa-mug-hot fa-4x"></i>
                        <h5>4{{coffee_count}}</h5>
                        <p>Cups of Coffee (and counting)</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4" data-aos="fade-left">
                <div class="accomplishments">
                    <div class="my-accomplishments">
                        <i class="fas fa-award fa-4x"></i>
                        <h5>{{years_count}}</h5>
                        <p>Years in College</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


