<section id="home" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
        <h1>JOHN REY C. MOZO</h1>
        <p>I am <span class="typed"></span></p>

        <div class="d-flex justify-content-center">
            <a class="btn-social-media" href="https://www.facebook.com/johnreymozo143/" title="Facebook Account">
                <i class="fab fa-facebook-f"></i></a>

            <a class="btn-social-media" href="https://www.instagram.com/dodomozo17/" title="Instagram Account">
                <i class="fab fa-instagram"></i></a>

            <a class="btn-social-media" href="https://twitter.com/johnreymozo17" title="Twitter Account">
                <i class="fab fa-twitter"></i></a>
            
            <a class="btn-social-media" href="https://github.com/dodomozo" title="Github Account">
                <i class="fab fa-github"></i></a>
        </div>
    </div>
</section> 
